.contact-section {
  background-color: #182449;
  color: #ddd;
  padding: 3rem 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}

.brand, .links, .contact-info {
  flex: 1 1 250px;
  min-width: 230px;
}

.brand .logo {
  max-width: 189px;
  height: 130px;
  margin-bottom: 1rem;
  display: block;
}

.brand .highlight {
  color: #78be20;
}

.brand p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.brand h4 {
  margin: 1.5rem 0 0.5rem;
  letter-spacing: 2px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: white;
  background:#fca311;
  padding: 10px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 14px;
}

.links h4, .contact-info h4 {
  color: white;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links ul li {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.links ul li:hover {
  text-decoration: underline;
}

.contact-info p {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-bottom {
  border-top: 1px solid #333;
  text-align: center;
  margin-top: 2rem;
  padding-top: 1.5rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-bottom span {
  color: #fca311;
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .brand, .links, .contact-info {
    text-align: start;
  }

  .brand .logo {
    max-width: 150px;
    margin: 0 auto 1rem;
  }
  
  .social-icons {
    justify-content: center;
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  
.contact-container{
  margin-bottom: -120px;
}

.brand h4{
  margin-left: 80px;
}

}